.advantages {
  @media (min-width: $desktop-width) {
    padding-left: 103px;
    padding-right: 103px;
    background-image: url("../img/content/advantages-desktop.jpg");
    background-size: 100%, cover;
    margin-bottom: 109px;
    padding-bottom: 120px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/advantages-desktop@2x.jpg");
      background-size: 100%, cover;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
    background-image: url("../img/content/advantages-tablet.jpg");
    background-size: 100%, cover;
    margin-bottom: 91px;
    padding-bottom: 98px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/advantages-tablet@2x.jpg");
      background-size: 100%, cover;
    }
  }

  @media (min-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #d2e0f2;
    background-image: url("../img/content/advantages-mobile.jpg");
    background-size: 100%, cover;
    padding-bottom: 63px;
    background-repeat: no-repeat;
    margin-bottom: 56px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/advantages-mobile@2x.jpg");
      background-size: 100%, cover;
    }
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto;
  gap: 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto auto auto;
    gap: 27px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto auto;
    gap: 40px;
  }
}

.advantages__item {
  background-color: #f9fbfd;
  padding: 25px 15px 21px 20px;

  @media (min-width: $tablet-width) {
    padding: 25px 15px 20px 23px;
    min-width: 170px;
  }

  @media (min-width: $desktop-width) {
    padding: 38px 34px 25px 30px;
  }
}

.advantages h2 {
  font-family: $font-antarctic;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  align-items: center;
  color: #011c40;
  margin: 0;
  text-align: center;
  padding-top: 61px;
  margin-bottom: 38px;

  @media (min-width: $desktop-width) {
    font-size: 28px;
    margin-bottom: 53px;
    padding-top: 120px;
  }

  @media (min-width: $tablet-width) {
    font-size: 26px;
    margin-bottom: 56px;
    padding-top: 94px;
  }
}

.advantages__block-title {
  margin: 0;
  font-family: $font-antarctic;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  color: #011c40;
  margin-bottom: 8px;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    line-height: 140%;
    padding-top: 13px;
    margin-bottom: 10px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
  }
}

.advantages__block-text {
  margin: 0;
  font-family: $font-antarctic;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 141%;
  align-items: center;
  color: #011c40;

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }
}

.advantages__item-check {
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin: 3px;
  }
}

.advantages__item-boat {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 12px;
  }
}
