.cruises {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;

  @media (min-width: $desktop-width) {
    padding-left: 118px;
    padding-right: 118px;
    padding-bottom: 100px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 67px;
  }
}

.cruises h2 {
  font-family: $font-antarctic;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #011C40;
  margin: 0;
  text-align: center;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 28px;
    margin-bottom: 54px;
  }
}

.cruises__list {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.cruises__img-title {
  font-family: $font-antarctic;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f9fbfd;
  margin-top: -52px;
  padding-left: 25px;

  @media (min-width: $desktop-width) {
    margin-top: -60px;
    padding-left: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    padding-left: 39px;
  }
}

.cruises__item {
  position: relative;
  margin-bottom: 47px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }
}

.cruises__page-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cruises__page-title {
  margin: 0;
  padding: 0;
  font-family: $font-antarctic;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  align-items: center;
  color: #f9fbfd;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }
}

.cruises__page-text {
  font-family: $font-antarctic;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  align-items: center;
  color: #d8d8d9;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.cruises__page-list-title {
  font-family: $font-antarctic;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #f9fbfd;
}

.cruises__page-list-title {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}
.cruises__img-wrapper {
  &--front {
    z-index: 1;
  }
}

.cruises__img-wrapper {
  &--back {
    background: #011c40;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    &--back {
      position: absolute;
      top: 1px;
      left: 1px;
      padding: 15px 9px 0 25px;
      min-height: 369px;
    }
  }

  @media (min-width: $tablet-width) {
    &--back {
      position: absolute;
      top: 1px;
      left: 1px;
      padding: 25px 9px 35px 25px;
      min-height: 325px;
    }
  }

  @media (min-width: $mobile-width) {
    &--back {
      position: absolute;
      background-size: cover;
      width: calc(100% - 35px);
      top: 1px;
      left: 0;
      padding: 25px 10px 35px 25px;
      height: 325px;
    }
  }
}

.cruises__img-wrapper img {
    object-fit: cover;
    min-width: 271px;
    height: 386px;
    width: 100%;

  @media (min-width: $tablet-width) {
    min-width: 309px;
    height: 386px;
  }

  @media (min-width: $desktop-width) {
    min-width: 260px;
    height: 386px;
  }
}

.cruises__img-link {
  font-family: $font-antarctic;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #011c40;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  padding: 12px 51px 12px 52px;
  background-color: #f9fbfd;
  &:hover {
    opacity: 0.8;
  }

  @media (min-width: $desktop-width) {
    text-decoration: none;
    padding: 14px 46px 15px 47px;
    background-color: #f9fbfd;
  }

  @media (min-width: $tablet-width) {
    text-decoration: none;
    padding: 14px 73px 15px 73px;
    background-color: #f9fbfd;
    margin: 0 auto;
  }
}

.cruises__item-block:hover .cruises__img-wrapper--front {
  z-index: 0;
}

.cruises__item-block:focus-within .cruises__img-wrapper--front {
  z-index: 0;
}

.cruises__item-block:focus-within .cruises__img-wrapper--back {
  z-index: 2;
}

.cruises__item-block:hover .cruises__img-wrapper--back {
  z-index: 2;
}
