.info {
  @media (min-width: $desktop-width) {
    padding-left: 103px;
    padding-right: 103px;
    margin-bottom: 120px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  @media (min-width: $mobile-width) {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.info__block-title {
  @media (min-width: $desktop-width) {
    font-size: 28px;
    line-height: 150%;
    align-items: center;
    color: #011c40;
    margin: 0;
    margin-bottom: 23px;
    padding-top: 66px;
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 26px;
    margin: 0;
    margin-bottom: 30px;
  }

  @media (min-width: $mobile-width) {
    font-family: $font-antarctic;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    margin-bottom: 22px;
  }
}

.info__block-img img {
  @media (min-width: $tablet-width) {
    width: 324px;
    height: 264px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    height: 301px;
  }
}

.info__block-text {
  font-family: $font-antarctic;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  margin-bottom: 40px;
  br {
    display: none;
  }

   @media (min-width: $desktop-width) {
    margin: 0;
    br {
      display: none;
    }
   }

   @media (min-width: $tablet-width) {
    line-height: 150%;
    margin: 0;
   }
}

.info__block-img {
  margin-bottom: 65px;

  @media (min-width: $desktop-width) {
    min-height: 301px;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.info__block {
  @media (min-width: $tablet-width) {
    width: 48%;
  }

  @media (min-width: $desktop-width) {
    width: 46%;
  }
}


