.info {
  @media (min-width: $desktop-width) {
    padding-left: 103px;
    padding-right: 103px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $mobile-width) {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.info__block-title {
  @media (min-width: $desktop-width) {
    font-size: 28px;
    line-height: 150%;
    align-items: center;
    color: #011c40;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 66px;
  }

  @media (min-width: $tablet-width) {
    font-size: 26px;
    margin: 0;
    margin-bottom: 30px;
  }

  @media (min-width: $mobile-width) {
    font-family: $font-antarctic;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    margin-bottom: 30px;

  }
}

.info__block-text {
  font-family: $font-antarctic;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;

   @media (min-width: $mobile-width) {
    margin-bottom: 40px;
   }
}

.info__block-img {
  @media (min-width: $desktop-width) {
    min-height: 301px;
  }
}

.info__block {
  width: 37%;
  @media (min-width: $tablet-width) {
    width: 42%;
    margin-right: 30px;
  }

  @media (min-width: $mobile-width) {
    width: 100%;
  }
}

