.main-nav__logo img {
  max-width: none;
  width: 42px;

  @media (max-width: $tablet-width) {
    max-width: none;
    width: 38px;
  }

  @media (max-width: $desktop-width) {
    max-width: none;
    width: 70px;
  }
}

.main-nav {
  &--opened {
    display: grid;
    width: calc(100% - 65px);
    background-size: cover;
    grid-template-columns: 15% 10%;
    column-gap: 75%;
    padding: 20px 15px 31px 15px;
    background-color: #ffffff;
    height: 32px;
    margin-left: auto;

    @media (min-width: $tablet-width) {
      background: none;
      grid-template-columns: 7% 100%;
      column-gap: 137px;
      width: calc(100% - 90px);
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 6% 100%;
      column-gap: 496px;
      width: calc(100% - 206px);
      height: 52px;
    }
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    padding-top: 35px;
    padding-left: 103px;
    padding-right: 103px;
  }

  @media (min-width: $tablet-width) {
    align-items: center;
    padding-top: 24px;
    padding-left: 45px;
    padding-right: 45px;
  }

  &--opened .main-nav__list {
    display: block;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
  }

  &--opened .logo-blue {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--opened .main-nav__logo-menu {
    display: block;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--opened .main-nav__logo-close {
    display: block;
  }

  &--opened .page-header__wrapper {
    padding: 0;
    width: 280px;
  }

  &--opened .main-nav__toggle {
    border: 0;
    background: 0;
    padding-top: 4px;
  }

  &--closed {
    display: grid;
    grid-template-columns: 15% 10%;
    height: 35px;
    column-gap: 75%;
    padding: 20px 15px 0 15px;

    @media (min-width: $tablet-width) {
      grid-template-columns: 7% 100%;
      column-gap: 137px;
      padding: 36px 45px 0 45px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 6% 100%;
      column-gap: 496px;
      height: 52px;
      padding: 35px 103px 0 103px;
    }
  }

  &--closed .main-nav__logo-menu {
    display: none;
  }

  &--closed .main-nav__logo-close {
    display: none;
  }

  &--closed .main-nav__list {
    display: none;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
  }

  &--closed .main-nav__logo-open {
    display: block;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
      color: #b4b4c7;
    }

    &:focus {
      color: #9898c6;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--nojs .main-nav__list {
    display: block;
  }

  &--nojs .main-nav__logo-close {
    display: block;
  }

  &--nojs .logo-blue {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--nojs .main-nav__logo-open {
    display: none;
  }

  &--nojs .main-nav__logo-menu {
    display: block;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--nojs {
    display: grid;
    width: calc(100% - 65px);
    background-size: cover;
    grid-template-columns: 15% 8%;
    column-gap: auto;
    padding: 20px 15px 31px 15px;
    background-color: #ffffff;
    height: 32px;
    margin-left: auto;

    @media (min-width: $tablet-width) {
      width: 88%;
      background: none;
    }
  }
}

.main-nav__toggle {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: none;

  @media (min-width: $desktop-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
