.main-nav__logo img {
  max-width: none;
  width: 42px;

  @media (max-width: $tablet-width) {
    max-width: none;
    width: 38px;
  }

  @media (max-width: $desktop-width) {
    max-width: none;
    width: 70px;
  }
}

.main-nav {
  &--opened {
    padding-left: 35px;
    width: calc(100% - 35px);

    @media (min-width: $tablet-width) {
      width: 88%;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    margin-bottom: 183px;
    padding-left: 103px;
    padding-right: 103px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    margin-bottom: 204px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (min-width: $mobile-width) {
    margin-bottom: 132px;
  }

  &--opened .main-nav__list {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &--opened .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 43px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 12px;

    @media (min-width: $tablet-width) {
      padding: 0;
      background: none;
    }
  }

  &--opened .main-nav__logo-menu {
    display: block;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--opened .main-nav__logo-close {
    display: block;
  }

  &--opened .page-header__wrapper {
    padding: 0;
    width: 280px;
  }

  &--opened .main-nav__toggle {
    padding-top: 34px;
    border: 0;
    background: 0;
  }

  &--closed .main-nav__wrapper {
    padding: 17px 15px 0 15px;
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &--closed .main-nav__logo-menu {
    display: none;
  }

  &--closed .main-nav__logo-close {
    display: none;
  }

  &--closed .main-nav__list {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &--closed .main-nav__logo-open {
    display: block;
    cursor: pointer;

    @media (min-width: $desktop-width) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--nojs .main-nav__toggle {
    display: none;
  }

  &--nojs .main-nav__list {
    display: block;
  }

  &--nojs .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 43px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 12px;

    @media (min-width: $tablet-width) {
      padding: 0;
      background: none;
    }
  }
}

.main-nav__toggle {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: none;

  @media (min-width: $desktop-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
