.page__contacts {
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $desktop-width) {
    padding-left: 103px;
    padding-right: 103px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.page__leveler {
  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.page__contacts-map iframe {
  width: 290px;
  height: 316px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 335px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    height: 306px;
  }
}

.page__contacts-map {
  @media (min-width: $mobile-width) {
    order: 2;
  }
}
